header h1 {
    background-image: url('./images/pattern.jpeg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: khaki;
    text-align: center;
}

#brushes {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

#brushesimg {
    display: inline-block;
    
}

#firstcaption {
    font-size: large;
}

#span-one {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:blue;
}

#frames {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#framesimg {
    display: inline-block;  
}

#secondcaption {
    font-size: large;
}

#span-two {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:blue;
}

#paint {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color:skyblue;
}

#paintimg {
    display: inline-block;  
}

#thirdcaption {
    font-size: large;
}

#span-three {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:blue;
}


